.btn {
  font-family: "euclid_flex_medium";
  text-transform: uppercase;
  background-color: $beige;
  color: $black;
  &__beige--big {
    display: inline-block;
    font-size: 32px;
    padding: 20px 136px;
  }
  &__beige--big:hover {
    background: $black;
    color: $white;
  }
  &__beige--medium {
    display: inline-block;
    font-size: 20px;
    padding: 18px 40px;
    width: 80%;
  }
  &__beige--medium:hover {
    background: $black;
    color: $white;
  }
  &__beige--small {
    display: inline-block;
    font-size: 20px;
    padding: 13px 40px;
    width: 100%;
  }
  &__beige--small:hover {
    background: $black;
    color: $white;
  }
  &__white--small {
    background: $white;
    border: 2px solid $bg_color;
    color: $bg_color;
    display: inline-block;
    font-size: 18px;
    padding: 18px 117px;
    text-align: center;
  }
  &__white--small:hover {
    background: $black;
    color: $white;
  }
}
