/* scroll indicator */
.scroll-indicator {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 2rem;
  padding: 0 2.8rem;
  gap:10%;
  &__buttons {
    display: flex;
    gap: 10px;
  }
  button {
    background-color: transparent;
    border: 2px solid black;
    height: 48px;
    width: 48px;
    &.disabled {
      opacity: 0.3;
    }
  }
  &__buttons {
    &--left {
      img {
        transform: rotate(180deg);
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0;
  }
}
.progress, .progress1, .progress2, .progress3 {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    overflow: hidden;
    background-color: $white;
    background-image: linear-gradient(to right, #E7B78A, #E7B78A);
    background-repeat: no-repeat;
    background-size: 0 100%;
    
    transition: background-size .4s ease-in-out;
  }

  .progress, .progress2, .progress3{
    background-color: rgba(241, 239, 232, 1);
  }

  @media (min-width: 768px) {
    .scroll-indicator:has(.progress3), .scroll-indicator:has(.progress) {
      display: none;
    }
  }