
@font-face {
    font-family: "EuclidCircularARegular";
    src: url(./../fonts//EuclidCircularARegular.woff) format("woff"), url(./../fonts/EuclidCircularARegular.ttf) format("truetype");
}
@font-face {
    font-family: "EuclidFlexMedium";
    src: url(./../fonts//EuclidFlexMedium.woff) format("woff"), url(./../fonts//EuclidFlexMedium.ttf) format("truetype");
}
@font-face {
    font-family: "ElicitScript-SemiBold";
    src: url(./../fonts//ElicitScript-SemiBold.woff) format("woff"), url(./../fonts//ElicitScript-SemiBold.ttf) format("truetype");
}
