@font-face {
    font-family: 'euclid_circular_abold';
    src: url('./../fonts/euclid_circular_a_bold-webfont.woff2') format('woff2'),
         url('./../fonts/euclid_circular_a_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'euclid_circular_alight';
    src: url('./../fonts/euclid_circular_a_light-webfont.woff2') format('woff2'),
         url('./../fonts/euclid_circular_a_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'euclid_circular_amedium';
    src: url('./../fonts/euclid_circular_a_medium-webfont.woff2') format('woff2'),
         url('./../fonts/euclid_circular_a_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'euclid_circular_aregular';
    src: url('./../fonts/euclid_circular_a_regular-webfont.woff2') format('woff2'),
         url('./../fonts/euclid_circular_a_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'euclid_circular_asemibold';
    src: url('./../fonts/euclid_circular_a_semibold-webfont.woff2') format('woff2'),
         url('./../fonts/euclid_circular_a_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}