.header {
  border-bottom: 2px solid $white;
  background: transparent;
  position: absolute;
  top: 0 !important;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
  z-index: 999999;
  opacity: 1;
  &.sticky {
    background-color: $black;
    border-bottom: 0;
    position: fixed;
    top: 0px !important;
    transform: translateY(0) !important;
    opacity: 1;
  }
  &.is-fixed--up{
    transition: transform ease-out 0.2s;
    transform: translateY(-100%)!important;
    opacity: 0;
  }
  &__mobile-logo{
    display: none;
  }
  &__mobile-logo{
    display: none;
  }
  @media (max-width: 1080px) {
    background: #F1EFE8;
    border-bottom: 2px solid $black;
    .menu-right-menu-container li:not(:last-child){ display: none; }
    .menu-right-menu-container li:last-child{
      position: relative;
      font-size: 20px;
      letter-spacing: .03em;
      text-transform: uppercase;
      color: #000;
    }
    
    .menu-left-menu-container{ display: none; }
    &.sticky {
      background-color: #F1EFE8;
    }
    &__desktop-logo{
      display: none;
    }
    &__mobile-logo{
      display: block;
    }
  }
  
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.nav__items {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  padding: 18px 0;
  gap: 66px;
}
.nav__link {
  color: $white;
  display: flex;
  gap: 10px;
  a {
    color: $white;
    font-size: 22px;
    position: relative;
    display: inline-block;
    font-family: $font_family;
    font-weight: $normal;
    line-height: $lh_small;
    text-transform: uppercase;

    &:after {
      content: "";
      height: 1px;
      position: absolute;
      top: 100%;
      width: 0;
      background-color: $white;
      transition: width 0.3s ease;
      transform: translateX(-50%);
      bottom: 0;
      left: 50%;
    }
    &:hover:after {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.hdr__logo-link {
  color: $white;
  font-size: 44px;
}

.top-bar {
  align-items: center;
  background-color: #efba87;
  color: black;
  display: flex;
  font-family: $font_family;
  height: 47px;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  @media (max-width: 1080px) {
    display: none;
  }
}

.header__hamburger {
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (max-width: 1280px) {
  .header__hamburger {
      display: block;
  }
}
.header__hamburger span {
  display: block;
  width: 18px;
  height: 2px;
  position: absolute;
  background-color: #333;
  transition: background-color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}
.header__hamburger span:first-child {
  top: 3px;
  left: 0;
}
.header__hamburger span:nth-child(2) {
  margin: 10px 0;
}
.header__hamburger span:last-child {
  top: 18px;
  left: 0;
}

