.plp-hero {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 320px 0 70px;
  h2 {
    color: $white;
    font-family: "EuclidFlexMedium";
    font-size: 88px;
    font-weight: 500;
    letter-spacing: 2.50600004196167px;
    line-height: 84px;
    text-align: left;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 40px;
      padding: 0 32px;
    }
  }
}
.shop-nowadays {
  background: #ffffff;
  margin-bottom: 84px;
  padding-bottom: 30px;
  padding-top: 108px;

  @media (max-width: 768px) {
    padding-left: 22px;
    padding-right: 22px;
  }
  &__head {
    margin-bottom: 60px;
  }
  &__title {
    font-family: "EuclidFlexMedium";
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 0px;
    text-align: left;
    text-transform: uppercase;
  }
  &__description {
    color: $bg_color;
    font-size: 30px;
    font-weight: $normal;
    text-transform: capitalize;
  }
  &__products {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.sn-product {
  text-align: center;
  text-transform: uppercase;

  &__title {
    color: #101010;
    font-family: "EuclidFlexMedium";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 0;
    text-align: center;
  }

  &__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 86%;
    display: flex;
    justify-content: center;
    margin-bottom: 59px;
    text-align: center;
    transition: 0.2s linear;
    img {
      height: 460px;
    }
  }
  &__reviews {
    direction: rtl;
    display: inline-block;
    margin-right: 3px;
    unicode-bidi: bidi-override;

    input {
      display: none;
      &:checked ~ label {
        color: #efba87;
      }
      &:focus ~ label,
      &:valid ~ label {
        color: #efba87;
      }
    }
    label {
      color: #efba87;
      cursor: pointer;
      font-size: 24px;
      position: static;
    }
  }

  .sn-product__infocards {
    height: 100%;
  }
  &__one {
    &:hover {
      background-image: url("/img/Bg-micro.png");
      cursor: pointer;
      transition: 0.2s linear;
    }
  }
  &__two {
    &:hover {
      background-image: url("/img/Bg-low.png");
      cursor: pointer;
      transition: 0.2s linear;
    }
  }
  &__three {
    &:hover {
      background-image: url("/img/Bg-high.png");
      cursor: pointer;
      transition: 0.2s linear;
    }
  }

  &__span {
    display: inline-block;
    font-family: "EuclidFlexLight";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
  }
  &__description,
  &__bottle {
    font-family: "euclid_circular_alight";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 23px;
    text-align: center;
  }

  &__title,
  &__reviews,
  &__bottle {
    margin-bottom: 6px;
  }
  &__price {
    color: #101010;
    font-family: "EuclidFlexMedium";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    line-height: 25px;
    padding: 16px 0 4px 0;
    text-align: center;
  }
}

.shop-all {
  margin-bottom: 46px;
  text-align: center;
}

// section merch

.merch {
  background: #ffffff;
  margin-bottom: 31px;
  select {
    // font-family: "EuclidFlexRegular";
    font-size: 20px;
    text-transform: uppercase;
    width: 264px;
  }
  option {
    font-size: 20px;
  }
  &-box6 {
    order: -1;
  }
  &-box8 {
    order: -2;
  }
  @media (max-width: 768px) {
    padding-left: 22px;
    padding-right: 22px;
  }

  &__select {
    border: 2px solid #2d2926;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    @media (max-width: 768px) {
      display: block;
    }
  }
  &__title {
    // font-family: "EuclidFlexMedium";
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0em;
    // line-height: 0px;
    text-align: left;
    text-transform: uppercase;
  }
  &__description {
    color: $bg_color;
    font-size: 30px;
    font-weight: $normal;
    text-transform: capitalize;
  }
  &__products {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    &-box1 {
      order: -1;
    }
    &-box4 {
      order: -1;
    }
    &-box6 {
      order: -2;
    }
    &-box8 {
      order: -2;
    }
  }
}

.merch-reverse {
  margin-bottom: 88px;
  @media (max-width: 768px) {
    padding-left: 22px;
    padding-right: 22px;
  }
}

.merch-product {
  text-align: center;
  text-transform: uppercase;
  &__title {
    color: #101010;
    font-family: "euclid_circular_alight";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 17px;
  }

  &__image {
    img {
      margin-bottom: 14px;
    }
  }
  &__reviews {
    direction: rtl;
    display: inline-block;
    margin-right: 3px;
    unicode-bidi: bidi-override;

    input {
      display: none;
      &:checked ~ label {
        color: #efba87;
      }
      &:focus ~ label,
      &:valid ~ label {
        color: #efba87;
        font-size: 24px;
      }
    }
    label {
      color: #efba87;
      cursor: pointer;
      font-size: 24px;
      position: static;
    }
  }

  &__span {
    display: inline-block;
    font-family: "euclid_circular_alight";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0em;
    margin-bottom: 17px;
    text-align: center;
  }
  &__description,
  &__bottle {
    font-family: "euclid_circular_alight";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 23px;
    text-align: center;
  }

  &__price {
    color: #101010;
    font-family: "EuclidFlexMedium";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0em;
    padding: 16px 0 9px 0;
    text-align: center;
  }
}

.shop-all {
  margin-bottom: 46px;
  text-align: center;
}

// @mixin white-gradient {
//   background: linear-gradient(
//     to right,
//     rgba(255, 255, 255, 1) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
// }

// $animationSpeed: 40s;

// // Animation
// @keyframes scroll {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(calc(-250px * 7));
//   }
// }
// // Styling
// .slider {
//   background: white;
//   box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
//   height: 100px;
//   margin: auto;
//   overflow: hidden;
//   position: relative;
//   width: auto;

//   &::before,
//   &::after {
//     @include white-gradient;
//     content: "";
//     height: 100px;
//     position: absolute;
//     width: 200px;
//     z-index: 2;
//   }
//   &::after {
//     right: 0;
//     top: 0;
//     transform: rotateZ(180deg);
//   }
//   &::before {
//     left: 0;
//     top: 0;
//   }
// }
